# - [git-config](https://git-scm.com/docs/git-config)
# - [Customizing-Git-Git-Configuration](https://www.git-scm.com/book/en/v2/Customizing-Git-Git-Configuration)
# - [How to Improve Performance in Git: The Complete Guide](https://www.git-tower.com/blog/git-performance/)
#
# Serveral commented options have been default from git 2.0
[user]
    name = Lanqing Huang
    email = lqhuang@outlook.com

[core]
    fileMode = true
    fsmonitor = true
    untrackedCache = true
    autocrlf = input  # Dealing with line endings
    # whitespace = trailing-space,space-before-tab,-indent-with-non-tab
    excludesFile = ~/.config/git/ignore # explicit write settings by default
    commitgraph = true

[index]
    version = 4
    # To enable the new index format, run:
    # ```
    # git update-index --index-version 4
    # ```

[feature]
    manyFiles = true

[color]
    ui = auto

[rerere]
    enabled = true

[submodule]
    fetchJobs = 8

[credential]
    helper = store
    # helper = osxkeychain
    # helper = /usr/local/share/gcm-core/git-credential-manager

#
# Define major function behaviors
#
[init]
    # defaultBranch = master
    defaultBranch = main

[branch]
    sort = -committerdate  # orderted by most recent commits

[diff]
	submodule = short

[status]
	submodulesummary = true

[fetch]
    prune = true
    pruneTags = true
    # A value of 0 will give some reasonable default. If unset, it defaults to 1.
    # parallel = 0
    writeCommitGraph = true

[pull]
    ff = only

[merge]
    # https://git-scm.com/docs/merge-config
    conflictStyle = diff3
    # `zdiff3` is over advanced for most stable linux distros

[rebase]
    missingCommitsCheck = error
    # updateRefs = true

[push]
    default = current
    followTags = true
    autoSetupRemote = true

[log]
    date = iso8601 # iso8601-strict / rfc2822

[alias]
    sl = log --pretty=tformat:'* %C(auto)%h%C(auto)%d %s%Creset %C(auto,blue)(%an)%Creset - %C(auto)%ad'
    gl = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all

#
# Non command line settings or external tools
#

[github]
    user = lqhuang

[url "https://github.com/"]
    insteadOf = git@github.com:

[url "https://github.com/"]
    insteadOf = ssh://git@github.com/

[credential "https://dev.azure.com"]
    useHttpPath = true

#
# Include other git config files or Conditional Includes
#

# [include]
#     path = .gitconfig.extra

[includeIf "gitdir/i:~/Workspace/**"]
    path = ~/.config/git/.gitconfig.typef

# # Interesting approach to make platform-specific `.gitconfig`
# # incremental files (such as Credential Helpers)
[includeIf "gitdir/i:/Users"]
    [credential]
        helper = osxkeychain
# [includeIf "gitdir:C:"]
#     path = ~/.gitconfig-windows
#     # [credential]
#     # helper = manager
# [includeIf "gitdir:/home"]
#     path = ~/.gitconfig-linux
