# git-config: https://git-scm.com/docs/git-config
# Customizing-Git-Git-Configuration: https://www.git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
# some commented options have been default from git 2.0
[user]
    name = Lanqing Huang
    email = lqhuang@outlook.com

[init]
    defaultBranch = master

[core]
    autocrlf = input  # Dealing with line endings
    # whitespace = trailing-space,space-before-tab,-indent-with-non-tab

[push]
    # default = simple
    followTags = true

[color]
    ui = auto

[pull]
    ff = only

[credential]
    helper = store

[oh-my-zsh]
    hide-dirty = 1

[alias]
    sl = log --pretty=tformat:'* %C(auto)%h%C(auto)%d %s%Creset %C(auto,blue)(%an)%Creset - %C(auto)%ad'

# [includeIf "gitdir/i:~/git-repo"]
#     path = ~/somewhere/.gitconfig
