#
# speed up suites: zsh-defer and evalcache
#
zmodule romkatv/zsh-defer --source zsh-defer.plugin.zsh --autoload zsh-defer

# Start configuration added by Zim install {{{
#
# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.
#

#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

#
# Prompt
#

# # Exposes to prompts how long the last command took to execute, used by asciiship.
# zmodule duration-info
# # Exposes git repository status information to prompts, used by asciiship.
# zmodule git-info
# # A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
# zmodule asciiship

# Load pure as prompt theme
zmodule sindresorhus/pure --source async.zsh --source pure.zsh

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion
# zmodule marlonrichert/zsh-autocomplete # third-party plugin to replace completion

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# }}} End configuration added by Zim install

#
# fundamental modules (required to find cli command in brew environment)
#
zmodule ${HOME}/Git/dotfiles/shell --source homebrew.zsh

#
# Official Zim modules
#
zmodule fzf --cmd "zsh-defer source {}/init.zsh"
zmodule magic-enter

#zmodule romkatv/zsh-defer -d  # -d Don't initialize the module root or uninstall the module.
# zmodule mroth/evalcache

#
# Load in-tree setup
#
zmodule ${HOME}/Git/dotfiles/shell --source shared.zsh
zmodule ${HOME}/Git/dotfiles/shell --cmd "zsh-defer source {}/javascript.sh"
zmodule ${HOME}/Git/dotfiles/shell --cmd "zsh-defer source {}/python.sh"
zmodule ${HOME}/Git/dotfiles/shell --cmd "zsh-defer source {}/jvm.sh"
zmodule ${HOME}/Git/dotfiles/shell --cmd "zsh-defer source {}/rust.sh"
zmodule ${HOME}/Git/dotfiles/shell --cmd "zsh-defer source {}/misc.sh"

#
# Oh My Zsh
#
zmodule ohmyzsh/ohmyzsh --root plugins/command-not-found
zmodule ohmyzsh/ohmyzsh --root plugins/extract
# zmodule ohmyzsh/ohmyzsh --root plugins/iterm2
# zmodule ohmyzsh/ohmyzsh --root plugins/macos

# zmodule ohmyzsh/ohmyzsh --root plugins/bazel
# zmodule ohmyzsh/ohmyzsh --root plugins/uv
# zmodule ohmyzsh/ohmyzsh --root plugins/sbt
# zmodule ohmyzsh/ohmyzsh --root plugins/sdk

#
# Misc
#
#zmodule carlosedp/mill-zsh-completions  --cmd "zsh-defer source {}/mill-zsh-completions.plugin.zsh"
