# per-user configuration file (defaults to ${HOME}/.npmrc;
#   configurable via environment variable $NPM_CONFIG_USERCONFIG)
# global configuration file (defaults to ${PREFIX}/etc/npmrc;
#   configurable via environment variable $NPM_CONFIG_GLOBALCONFIG)
#
# Refs
#
# - https://docs.npmjs.com/cli/v11/using-npm/config
# - https://docs.npmjs.com/cli/v11/configuring-npm/npmrc


init-author-email = "lqhuang@outlook.com"
init-author-name = "Lanqing Huang"
init-version = "0.1.0"
init-private = true

# registry = https://registry.npmmirror.com
node-mirror:release = https://npmmirror.com/mirrors/node/

# config for pnpm
# store-dir = ${HOME}/.pnpm-store  # on macOS
store-dir = "${HOME}/.local/share/pnpm/store"  # on Linux
global-dir = "${HOME}/.local/share/pnpm/global"
# cache-dir = "~/.cache/pnpm"
# auto-install-peers = true

ignore-scripts=true
provenance=true
save-prefix=''

;;;;
; the following options can be used for stricter control, best to consult npm docs
; https://docs.npmjs.com/cli/v11/using-npm/config to see if they are applicable to your use case
;;;;

; before=
; engine-strict=true
; prefer-offline=true
; sign-git-commit=true
; sign-git-tag=true
; strict-peer-deps=true
