# per-user configuration file: ${HOME}/.npmrc
init-author-email = "lqhuang@outlook.com"
init-author-name = "Lanqing Huang"
init-version = "0.1.0"

registry = "https://registry.npmmirror.com/"

# config for pnpm
# store-dir = ${HOME}/.pnpm-store  # on macOS
store-dir = "${HOME}/.local/share/pnpm/store"  # on Linux
node-mirror:release = https://npmmirror.com/mirrors/node/
