# per-user configuration file: ${HOME}/.npmrc
init-author-email = "lqhuang@outlook.com"
init-author-name = "Lanqing Huang"
init-version = "0.1.0"

# registry = https://registry.npmmirror.com
node-mirror:release = https://npmmirror.com/mirrors/node/

# config for pnpm
# store-dir = ${HOME}/.pnpm-store  # on macOS
store-dir = "${HOME}/.local/share/pnpm/store"  # on Linux
global-dir = "${HOME}/.local/share/pnpm/global"
# cache-dir = "~/.cache/pnpm"

# auto-install-peers = true
